body {
  background: url(https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?cs=srgb&dl=pexels-jplenio-1118873.jpg&fm=jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
}
